.philmap {
  padding: 0px;

  .brand-logo {
    min-height: 100px;
    min-width: 350px;
    background-color: #fab;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .details-modal {
    min-height: 400px;
    min-width: 350px;
    background-color: #fab;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  #map {
    width: 100%;
    height: 100vh;
  }
}
