<div class="philmap main container-fluid">
    <div class="center" style="margin: 0;background-color: rgba(205,224,224,1);">
        <div id="map"></div>
        <div class="brand-logo">
          <img class="img-responsive" src="./../assets/images/reseta-logo.png" />
        </div>
        <div class="details-modal" ng-hide="hideDetailModal">
          <div class="section-title focus row">
            <div class="title col-md-5 col-xs-4">
              <div class="skew col-xs-12"></div>
              <div class="skewed-text">{{region}}</div>
            </div>
          </div>

          <div class="summary">
            <form class="data-input form-horizontal row">
              <label>Disease Details</label>
              <div class="diseases row">
                <select ng-model="name" class="col-xs-12">
                  <option ng-repeat="disease in diseases">
                    {{disease}}
                  </option>
                </select>
                <div class="col-xs-6">
                  <input ng-model="count" id="count" class="form-control" placeholder="# of cases"/>
                </div>
              </div><br />
              <label>Region Details</label>
              <div class="region-details row">
                  <div class="col-xs-6">
                    <input ng-model="pop" id="count" class="form-control" placeholder="Population"/>
                  </div>
                  <button class="btn btn-primary" ng-click="addDisease()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                  <button class="btn btn-success">Submit</button>
              </div>
            </form><br />
            <div class="table-cont row">
              <table class="table">
                <tr>
                  <th>Disease</th>
                  <th>Cases</th>
                  <th>Population</th>
                </tr>
                <tr ng-repeat="entry in data">
                  <td>{{entry.disease}}</td>
                  <td>{{entry.cases}}</td>
                  <td>{{entry.population}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
